@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  padding-bottom: 100px;
}

.animated-container {
  padding-left: 35%;
}

@layer components {
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.xl");
    padding: theme("spacing.6");
  }
}
